# Security & Credentials
.env
dbt/profiles.yml
dbt/.user.yml
*.session.sql

# Python & Environments
.venv/
etl/venv_etl/
**/__pycache__/
*.py[cod]

# dbt Artifacts
dbt/target/
dbt/logs/

# IDE Settings
.vscode/

# OS files
.DS_Store
Thumbs.db